*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
}
section{
    background-color: rgb(219, 130, 47);
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}